* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    color: #787878;
    background: #212121;
}
.footer-container {
    max-width: 1170px;
    margin: auto;
}
.footer-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    list-style: none;
}
.footer-col {
  width: 33.3%;
  padding: 0 15px;
}
.footer-col h6 {
    font-size: 1em;
    display: block;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    position: relative;
}
.footer-col p {
    color: #787878;
    padding-top: 20px;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    margin: 20px 0px;
    /* line-height: 27px; */
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.footer-col h6::before {
    content: "";
    position:  absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.address {
    font-size: 20px;
    margin: 10px;
}
span {
    width: 100%;
    height: 50%;
    font-size: 18px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    margin-left: 10px;
    line-height: 24.001px;
    color: #787878;
}
.social-icons .fa {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    background: #787878;
    margin-right: 15px;
    cursor: pointer;
}
